[Desktop Entry]
Name=TODO List
GenericName=TODO List Developer Edition
Exec=/usr/bin/todolist
Terminal=false
Icon=/usr/share/icons/todolist-icon.xpm
Type=Application
Categories=Application;Network;X-Developer;
Comment=TODO List Developer Edition.
StartupWMClass=TODO List Developer Edition
